<section class="section section--full-main">
    <header class="section__header">
        <div class="section__grid flex">

            <div class="section__side">
                <div class="section__title">
                    <h2 class="title-07">Gallery of our works</h2>
                </div>
            </div>

            <div class="section__side">
                <div class="section__subtitle">
                    <h3 class="title-03">We proudly provide janitorial and maintenance services to a wide range of industries, ensuring.</h3>
                </div>
            </div>

        </div>
    </header>
    <div class="section__main">
        <div class="gallery-container">

            <app-gallery></app-gallery>
            
        </div>
    </div>
</section>