<section class="clx-hero">
  <!-- <div class="clx-hero__bg" aria-hidden="true"></div> -->

  <div class="clx-hero__content">


    <div class="logo-container">
      <img src="/media/logo-xl.svg" alt="Cleonox">
    </div>

    <div class="title-container">
      <h1 class="clx-title text--center">
        The Art of Professional Cleaning
      </h1>
    </div>

    <div class="subtitle-container">
      <p class="clx-subtitle text--center">Select the service you need to provide</p>
    </div>


    <div class="clx-grid">
      <a class="clx-card" routerLink="/window-cleaning">
        <span>Professional window<br/>cleaning</span>
      </a>

      <a class="clx-card" routerLink="/high-ceiling">
        <span>High ceiling and chandelier<br/>cleaning</span>
      </a>

      <a class="clx-card" routerLink="/commercial-residential">
        <span>Commercial/Residential Cleaning</span>
      </a>

      <a class="clx-card" routerLink="/power-washing">
        <span>Power washing service</span>
      </a>
    </div>
  </div>
</section>