<div class="page-header flex">
    <div class="page-header__main flex">
        <div class="page-header__item">
            
            <div class="page-header__title">
                <h1 class="page-header-title">
                    Nyc’s trusted experts for <span class="color-accent">commercial/residential,</span> professional high ceiling cleaning solution.
                </h1>
            </div>
            
        </div>
        <div class="page-header__item">
            
            <div class="page-header__subtitle">
                <h2 class="page-header-subtitle">
                    Premium results are not <br>for everyone. They’re <br>for Cleonox clients
                </h2>
            </div>
            
        </div>
        <div class="page-header__item">

            <div class="page-header-box">
                <div class="page-header-box__title">
                    <h3 class="title-04">We raise standards</h3>
                </div>
                <div class="page-header-box__subtitle">
                    <p class="color-gray">And make our customers satisfied</p>
                </div>
                <div class="page-header-box__list">
                    <ul>
                        <li>
                            <p><span class="color-gray">Mon – Sun: </span><strong>6AM – 9PM</strong></p>
                        </li>
                        <li>
                            <p><span class="color-gray">Emergency Calls: </span><strong>24/7</strong></p>
                        </li>
                        <li>
                            <p>Early mornings. Late nights.</p>
                            <p class="color-gray">Whenever excellence is needed.</p>
                            <p class="color-gray">Cleonox delivers.</p>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>